
<!DOCTYPE html>


<html lang="en">
<head>
  <!-- set active page https://stackoverflow.com/questions/26819675/navbar-highlight-for-current-page/26819796 -->
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
        });
    });
</script>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse" style="margin-bottom: 0px">
  <div class="container-fluid bg-gray-dark">
    <div class="navbar-header">
      <a class="navbar-brand text-white" >Kate Harline</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% for item in site.data.navigation %}
        <li>
          {% assign d = item.link | append:'/' %}
          <a href="{{ item.link }}" {% if page.url == d %}class="text-white"{% endif %}>
          {{item.name}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>