
<!DOCTYPE html>
<!-- set active page https://stackoverflow.com/questions/26819675/navbar-highlight-for-current-page/26819796 -->
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
        });
    });
</script>

<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
<!--     <div class="navbar-header">
      <a class="navbar-brand" >Kate Harline</a>
    </div> -->
    <ul class="nav navbar-nav">
      <li><a href="{{ site.url }}{{ site.baseurl | append:'/' }}">About</a></li>
<!--       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="./about.html">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li> -->
      <li><a href="{{ site.url }}{{ site.baseurl | append:'/research' }}">Current Research</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl | append:'/code' }}">Code</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl | append:'/cv' }}">Academic CV</a></li>
    </ul>
  </div>
</nav>