{% include header.html %}

{% include navbar.html %}

<div class="container-lg py-6 p-responsive text-center">
  {% include masthead.html metadata=true %}

  <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
    {{ content }}
  </div>
<!-- 
  <div class="my-6">
    {% include projects.html %}
  </div>

  {% if site.topics %}
    <div class="my-6">
      {% include interests.html %}
    </div>

  {% endif %}

  {% unless posts_total == 0 %}
    <div class="my-6">
      {% include thoughts.html %}
    </div>
  {% endunless %} -->
</div>



{% include footer.html %}
