
<!doctype html>
<html class="min-height-full">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ meta_description }}" />
    <meta property="og:title" content="{{ user.name }}" />
    <meta property="og:image" content="{{ user.avatar_url }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body class="bg-white min-height-full" {% if site.style == 'dark' %}style="background-color: #000000 !important"{% endif %}>



    <div class="flex-justify-center" {% if site.style == 'dark' %}style="background-color: #000000 !important"{% endif %}>
      <div class="mx-auto">
        <div class="f4 {% if site.style == 'dark' %}text-white{% endif %} mb-6">
          <div class="f4 {% if site.style == 'dark' %}text-white{% endif %}">
  <!--           <p class="f5"><a href="{{ site.url }}{{ site.baseurl | append:'/' }}" class="d-flex flex-items-center {% if site.style == 'dark' %}text-white{% endif %}">{% octicon chevron-left height:16 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Home %}Home</a></p> -->
            <h1 class="f00-light lh-condensed mb-5">{{ page.title }}</h1>
            {{ content }}
            {% if page.url == '/code/' %}{% include projects.html %}{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>


{% include footer.html %}
